<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Item </title>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->

  <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cake Assists</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          {% if user.profile.baker %}
            <li class="nav-item">
              <a class="nav-link" href="{%  url 'order_by_shop_view' %}">View Orders for Baker</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%  url 'your_order' %}">Your Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'create_order' %}">Create Order</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
<br>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-1">
        <h4 class="m">{{ request.user }}</h4>
      </div>
    </div>
    <div class="row">
      <!-- /.col-lg-3 -->

      <div class="col-lg-12">

        {%block body %} {% endblock %}
        <!--<div class="card mt-4">-->
          <!--<img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">-->
          <!--<div class="card-body">-->
            <!--<h3 class="card-title">Product Name</h3>-->
            <!--<h4>$24.99</h4>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>-->
            <!--<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>-->
            <!--4.0 stars-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.card &ndash;&gt;-->

        <!--<div class="card card-outline-secondary my-4">-->
          <!--<div class="card-header">-->
            <!--Product Reviews-->
          <!--</div>-->
          <!--<div class="card-body">-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>-->
            <!--<small class="text-muted">Posted by Anonymous on 3/1/17</small>-->
            <!--<hr>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>-->
            <!--<small class="text-muted">Posted by Anonymous on 3/1/17</small>-->
            <!--<hr>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>-->
            <!--<small class="text-muted">Posted by Anonymous on 3/1/17</small>-->
            <!--<hr>-->
            <!--<a href="#" class="btn btn-success">Leave a Review</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.card &ndash;&gt;-->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
  <br> <br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
   <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jquery/jquery.formset.js' %}">



  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
  {% block javascripts %}{% endblock%}
</body>

</html>
