{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body%}
<div class="card">

        <div class="card-header">

            Modify Order
        </div>
        <div class="card-body">
        {{ order }}
        </div>
        {% for item in  items %}
          {{ item}}
        {% endfor %}
    </div>
</table>
{% endblock %}

