{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body%}
<div class="card">

        <div class="card-header">

            Order
        </div>
        <div class="card-body">
        {% include 'order_ul.html' with order=order visible=True%}
        </div>
    </div>
</table>
{% endblock %}

